.col-2{
    width: 16.66666666%;
}
.col-4{
    width: 33.33333333%;
}
.col-3{
    width: 25%;
}
.col-5{
    width: 41.666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333333333%;
}
.col-12{
    width: 100%;
}

@media screen and (max-width:768px){
    .col-6, .col-5, .col-7{
        width: 100%;
    }
    .col-4{
        width: 50%;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .col-5, .col-8, .col-7{
        width: 100%;
    }
   
}