.about {
  padding: 90px 0 115px;
  &__title {
    margin-bottom: 75px;
  }
  &__text {
    @include font($libre, normal, 18px, 1.6);
    text-align: justify;
    color: $color-gray;
  }
}
//MEDIA
@media screen and (max-width: 375px) {
  .about {
    padding: 25px 0;
    &__title {
      margin-bottom: 20px;
    }
  }
}
